<mat-toolbar class="nav-bar">
   <span class="name">Clean Now</span>
  <span class="example-spacer"></span>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink="/home"
    routerLinkActive="active">
    <mat-icon class="home">home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/evaluaciones"
  routerLinkActive="active">
    <mat-icon class="menu">menu</mat-icon>
  </button>
</mat-toolbar>
